.detail-class {
  display: flex;
  justify-content: center;
}
.detail-wrapper {
  background-color: darkblue;
  padding: 50px 30px;
  color: white;
  border-radius: 10px;
  box-shadow: 5px 0 10px inset rgba(0, 0, 0, 0.292), 0px 0 10px inset rgba(0, 0, 0, 0.686);
}
