.class {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: column;
}
.card-item {
  width: 300px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.445);
}
.card-wrapper {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
