.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  gap: 50px;
}
.home .card {
  width: 300px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.574);
  padding: 60px 40px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
  position: relative;
}

.home .card span {
  display: block;
  background-color: darkblue;
  width: 5px;
  height: 120px;
  border-radius: 10px;
  position: absolute;
  left: 10px;
  transition: 0.4s;
}
.home .card:hover {
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.574);
  background-color: darkblue;
  color: white;
}
.home .card:hover span {
  background-color: white;
  left: 90%;
}
.home .card p {
  font-size: 12px;
  color: #a9a9a9;
  margin-top: 20px;
}
