* {
  margin: 0;
  padding: 0;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.login .form-login {
  /* background-color: red; */
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.536);
  width: 400px;
  padding: 50px 30px;
  border-radius: 10px;
}
.form-login #email.ant-input {
  height: 41px;
}
.form-login #password {
  height: 32px;
}
.form-login .btn-login {
  background-color: darkblue;
  height: 45px;
  margin-top: 20px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.532);
}
.form-login .btn-login:hover {
  background-color: rgb(3, 3, 167);
}

.form-login h1 {
  text-align: center;
}
.form-login p {
  text-align: center;
  margin-bottom: 30px;
  color: #a9a9a9;
}
