.add-user {
  display: flex;
  justify-content: center;
}
.add-user form {
  width: 600px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.561);
  padding: 50px 40px;
  border-radius: 10px;
}
.btn-add {
  background-color: darkblue;
  height: 40px;
}
