.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.table {
  width: 600px;
}
th.ant-table-cell {
  background-color: darkblue !important;
  color: white !important;
}
