.class {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: column;
}
.card-item {
  width: 300px;
  /* background-color: #f07539; */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.card-item:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
.card-wrapper {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

ul.ant-card-actions {
  /* background: #f47522 !important; */
  /* border-top: 1px solid #f47522 !important; */
}
/* title----- h1 */
.ant-card-meta-title {
  font-size: 15px !important;
  font-weight: bold !important;
  color: #1a355f !important;
  margin: 0 !important;
}
.btn-add-class {
  background-color: #1a355f;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}

/* !----------------add class---------------------- */
.title-modal-class {
  color: #1a355f;
  margin-bottom: 30px;
  /* text-align: center; */
}
label.ant-form-item-required {
  /* color: red !important; */
  font-weight: bold;
}
