.detail-class {
  display: flex;
  justify-content: center;
}
.detail-wrapper {
  background-color: #eff6ff;
  width: 500px;
  padding: 50px 30px;
  color: #1a355f;
  border-radius: 10px;
  box-shadow: 1px 0 7px rgba(0, 0, 0, 0.292);
}
