* {
  margin: 0;
}
.table-page {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  position: relative;
}
.table-page h2 {
  color: white;
}
.cover {
  position: absolute;
  z-index: -100000;
  width: 100%;
  height: 200px;
  top: 0;
  background-color: royalblue;
}
.my-table {
  /* width: 700px; */
  margin-top: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.375);
}

.table-page th.ant-table-cell {
  background-color: royalblue !important;
  color: white !important;
}

tr.ant-table-row.ant-table-row-level-0.select-name {
  background-color: salmon;
}

/* .ant-pagination-item-active {
  border: none !important;
  border-radius: 10px !important;
} */
.ant-pagination-item-active a {
  background-color: royalblue !important;
  color: white !important;
}

.btn-update {
  /* background-color: aqua; */
  outline: 1px solid royalblue;
  color: royalblue;
  font-size: 12px;
  border: none;
}
.btn-delete {
  outline: 1px solid red;
  color: red;
  font-size: 12px;
  border: none;
}
