* {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  background-color: darkblue;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
