.lay-dash {
}
.lay-dash .lay-header {
  background-color: aliceblue;
}
.lay-dash .lay-content {
  min-height: 88vh;
  padding: 50px;
  margin-top: 50px;
}
.lay-dash .lay-logo {
  width: 100%;
  height: 63px;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  color: white;
}
.lay-logo .title-wrapper {
  position: relative;
  width: 200px;
}
.lay-logo .title-wrapper .circle {
  width: 30px;
  height: 30px;
  background-color: #f47522;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.423);
  border-radius: 50%;
  position: absolute;
  left: -20px;
  top: -10px;
}
.lay-sider {
  background-color: #1a355f !important;
}
ul.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light.css-dev-only-do-not-override-mxhywb {
  background-color: #1a355f !important;
  color: white;
  font-size: 15px;
  /* font-weight: bold; */
}

ul.ant-menu.ant-menu-root.ant-menu-vertical.ant-menu-light.ant-menu-inline-collapsed.css-dev-only-do-not-override-mxhywb {
  background-color: #1a355f !important;
  color: white;
}
section.ant-layout.site-layout.css-dev-only-do-not-override-mxhywb {
  background-color: rgba(245, 222, 179, 0.5) !important;
}
