.member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.member .member-wrapper {
  width: 90%;
  display: block;
}
.member .search {
  /* position: absolute; */
  margin-bottom: 20px;
  top: 0;
  right: 60px;
  width: 500px;
}
.load-search {
  margin-top: 100px !important;
}
.load-spiner {
  margin-top: 100px;
}
.member .table-member {
  width: 100%;
}

th.ant-table-cell {
  background-color: #f47522 !important;
  color: white !important;
}
.btn-delete {
  background-color: rgba(196, 6, 6, 0.787);
  color: white;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}
.btn-update {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  background-color: #f47622de;
  width: 20px;
  font-size: 13px;
}
.btn-add-member {
  background-color: #1a355f;
  color: white;
  font-weight: bold;
  margin-bottom: 20px;
}
/* add member-------------------- */
.form-add-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.form-add-member .form-add {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
  /* align-items: center; */
}
.btn-add-member-submit {
  background-color: #f47522;
  color: white;
  font-weight: bold;
}
