* {
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  background-color: #1a355f;
  height: 50px;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
nav ul {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  list-style: none;
}
nav ul li a {
  color: white;
  text-decoration: none;
}
nav ul li .btn-logout {
  background-color: #1a355f !important;
  outline: none;
  border: none;
  color: #f47522;
  font-weight: bold;
}
